html {
  box-sizing: border-box;
  scroll-padding-top: 80px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --main-color: #ff6600;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
  }
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  @media screen and (max-width: 1024px) {
    position: static;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 31px 0;
  align-items: center;
  max-width: 1242px;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1000px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header__logo-img {
  width: 60px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
  }
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
  outline: none;

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.header__icon {
  width: 22px;
}

.header__link:hover,
.header__link:focus {
  color: var(--main-color);
}

.header__link:focus:not(:focus-visible) {
  outline: none;
}

/* intro */

#intro {
  background: var(--main-color);
  padding-top: 134px;
  padding-bottom: 114px;
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (max-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.intro__title-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1048px) {
    padding: 0 5%;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.intro__subtitle {
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-bottom: 33px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

#intro__button {
  text-decoration: none;
  padding: 16px 25px;
  background-color: #000;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
  border: 0;

  @media screen and (max-width: 768px) {
    padding: 14px 20px;
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    padding: 12px 18px;
    font-size: 12px;
  }
}

#intro__button:hover {
  background-color: #393939;
}

/* genres */

#genres {
  padding-top: 100px;

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
}

.genres__container {
  padding: 0 11%;

  @media screen and (max-width: 1400px) {
    padding: 0 5%;
  }
}

.genres__cards-container {
  overflow: hidden;
}

.genres__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genres__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.genres__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 24px;
  border: 2px solid var(--main-color);
  border-radius: 100%;
  color: var(--main-color);
  transition: 0.2s ease;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.genres__btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
}

.genres__title {
  font-size: 40px;
  font-weight: 600;
  color: #000;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.genres__cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 44px;
  padding-bottom: 90px;

  transition: 0.8s ease;
}

.genres__card {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 15px 21px;
  border-radius: 55px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 10px 18px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
    padding: 9px 15px;
  }
}

.genres__card:hover,
.genres__card:focus {
  color: var(--main-color);
}

/* products */

#products {
  padding-top: 40px;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

.products__container {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  margin: 4% 11%;
  padding: 6% 13%;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 15px;
  padding-bottom: 100px;

  @media screen and (max-width: 1280px) {
    padding: 6% 5%;
    margin: 4% 5%;
  }
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 56px;
  transition: transform 0.3s ease;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 50px;
    padding-bottom: 20px;
  }
}

.products__section-title {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.products__block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 300px;
  column-gap: 200px;
}

.products__text {
  height: 100%;
}

.products__title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #181818;

  @media screen and (max-width: 768px) {
    width: 100%;
    line-height: 20px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.products__desc {
  margin-top: 8px;
  color: #000;

  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 14px;
  }

  @media screen and (max-width: 567px) {
    font-size: 12px;
    line-height: 20px;
    margin-top: 3px;
  }
}

.products__price {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  color: var(--main-color);

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.products__img-wrapper {
  max-width: 200px;
}

.products__img {
  width: 100%;
  object-fit: contain;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.products__button {
  margin-top: 20px;
  border-radius: 50px;
  background: #000;
  padding: 8px 30px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #fff;
  max-width: 70%;

  @media screen and (max-width: 768px) {
    padding: 14px 20px;
    font-size: 14px;
    max-width: 100%;
  }

  @media screen and (max-width: 576px) {
    padding: 12px 18px;
    font-size: 12px;
  }
}

.products__plus-icon {
  width: 20px;
  height: 20px;
}

.produts__button:focus,
.products__button:hover {
  background: #fff;
  color: #000;
  border: solid 2px #000;
}

/* authors */

#authors {
  padding-top: 50px;

  @media screen and (max-width: 768px) {
    padding-top: 30px;
  }
}

.authors__container {
  padding: 0 11%;

  @media screen and (max-width: 1280px) {
    padding: 6% 5%;
  }
}

.authors__title {
  font-size: 40px;
  font-weight: 600;
  color: #000;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.authors__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media screen and (max-width: 710px) {
    grid-template-columns: 1fr;
  }
}

.authors__card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.authors__img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 30px;
}

.authors__card-text {
  padding: 25px 22px;
}

.authors__card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.authors__card-desc {
  line-height: 24px;
  padding-top: 12px;
  color: rgba(0, 0, 0, 0.6);

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
    line-height: 20px;
    padding-top: 3px;
  }
}

/* join */

#join {
  padding-top: 100px;
  @media screen and (max-width: 1440px) {
    padding-top: 30px;
  }
}

.join__container {
  padding: 0 11%;

  @media screen and (max-width: 1280px) {
    padding: 6% 5%;
  }
}

.join__title {
  font-size: 40px;
  font-weight: 600;
  color: #000;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.forms__container {
  margin-top: 40px;
  display: flex;

  justify-content: center;
}

.signup {
  padding: 20px 50px;
  width: 600px;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 3% 5%;
  }
}

.signup__block {
  margin-top: 15px;
}

.signup__input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#signup-email,
#signup-password {
  grid-column: span 2;
}

.signup__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.signup__input {
  padding: 15px 10px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
    padding: 10px 5px;
  }
}

.error {
  height: 14px;
  font-size: 14px;
  line-height: 1;
  color: #cc0000;
  margin-top: 8px;
  display: none;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.error-border {
  border: 2px solid #cc0000;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 10px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.button:hover {
  background-color: var(--main-color);
  color: #000;
}

#signup-agree {
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

/* modal */
.modal {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrapper {
  padding: 30px 50px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 768px) {
    padding: 3% 4%;
  }
}

.modal__title {
  font-size: 20px;
  text-align: center;
  font-weight: 800;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.modal__text {
  font-size: 18px;
  font-weight: 300;

  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.modal__hide {
  display: none;
}

/* footer */

.footer {
  background: #000;
  margin-top: 100px;
  padding-top: 89px;
  padding-bottom: 61px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
    padding-top: 70px;
  }
}

.footer__container {
  padding: 0 17%;

  @media screen and (max-width: 1440px) {
    padding: 0 10%;
  }

  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 668px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__heading {
  margin-bottom: 24px;
  color: var(--main-color);
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.footer__item {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 576px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__bottom {
  margin-top: 57px;
  display: flex;
  gap: 434px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }
}
